<div class="ingredient-panel col-sm-6 col-md-4 col-lg-3 ">
    <header class="ingredient-panel--header">
        <h1>{{$ctrl.title}}</h1>
    </header>
    <main class="ingredient-panel--main">
        <img class="ingredient-panel--img" ng-src="{{$ctrl.imgUrl}}" alt="Test" />
    </main>
    <footer class="ingredient-panel--footer">
        <span class="right-border ingredient-panel--span">{{$ctrl.brand}}</span>
        <span class="ingredient-panel--span">{{$ctrl.type}}</span>
    </footer>
</div>
